<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.leyfer.thesis.touchlogger_dirty">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".MainApplication">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="org.leyfer.thesis.from_native"/>
            </intent-filter>
        </activity>

        <service
            android:name=".service.PayloadWaitingService"
            android:exported="true"
            android:process="touchlogger.here">
        </service>
        <service
            android:name=".service.GestureBuilderService"
            android:exported="false">
        </service>

        <receiver
            android:name=".receiver.PayloadHeartBeatReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="org.leyfer.thesis.heartbeat"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>